h1 {
    text-shadow: 4px 2px pink;
    color: white;
  }

body {
    background-color:black;
}

p {
 background-color: peachpuff;
 box-shadow: 2px 5px black;
 width: 20%;
}

h2 {
    background-image: url(https://cdn.pixabay.com/photo/2018/06/19/23/25/sugar-3485430_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

a {
    color: white;
}

nav {
    width:89,5vw;
    background-color:black;
    border-style:solid;
    border-color:white;
    text-align: center;
    color: white;
}

li {
    list-style-type:none;
    margin: 0 2vw;
    font-size: 3vh;
    color: white;
}

ul{
    margin: 0;
    padding:0;
    display: flex;
    text-align: center;
   
}

a:hover {
    background-color: red;
    text-align: center;
  
}
@media screen and (max-width: 600px) {
    body {
      background-color:red;
    }
  }
  