nav {
    background-color: rosybrown;
    color: white;
    font-family: monospace;
}

#fafa {
  border-width: 10px;
  border-style: groove;
  border-color: lightcoral;
}

#ggg {
    border: salmon;
    border-style: dotted;
    border-width: 10px;
}

#ddd {
    color: white;
    background-color: rosybrown;
    font-family: monospace;
}

h1 {
    color: white;
    background-color: thistle;
    text-align: center;
}