nav {
    background-color: rosybrown;
    color:white;
    font-family:monospace;
    font-weight: 100;
}

h1 {
    color: darkblue;
    font-family: cursive;
    text-align: center;
}

body {
    background-color:mistyrose;
}

h2 {
    color: black;
    font-family: initial;
    text-align: center;
}

a {
    color: white;
    align-items: center;
}

#me {
    border: paleturquoise;
    border-style: double;
    border-width: 10px;
}

#mo {
    border: palegoldenrod;
    border-style: double;
    border-width: 10px;
    align-items: left;
}

#teksti1 {
    border-style: double;
    text-align: center
}

#mi {
    border: palegreen;
    border-style: double;
    border-width: 10px;
    align-items: flex-end;
}

#mu {
    border: palevioletred;
    border-style: double;
    border-width: 10px;
}

li {
    display: inline;
}

#rep {
    border-color: black;
    border-style: double;
}

#er {
    border-style: double;
    border-color: black;
}

#dr {
    border-color: black;
    border-style: double;
}

#ttt {
    font-family: monospace;
}

div {
   
}

#erer {
    border-style: double;
    border-width: thick;
}

#of {
    font-family:monospace;
    width: 60%;
    border-style: double;
    background-color: white;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  #oop {
      border-style: dashed;
      border-color: darkblue;
  }