a {
    color: white;
}

nav {
    background-color: rosybrown;
    color:white;
    font-family:monospace;
    font-weight: 100;
}

h1 {
    color: darkblue;
    font-family: cursive;
    text-align: center;
}

body {
    background-color:mistyrose;
}

h2 {
    color: black;
    font-family: initial;
    text-align: center;
}

#hhh {
    width: 10%;
}

#quak {
   background-color: rosybrown;
   border-style: double;
   border-color: black;
   border-width: 5px;
   color: white;
}

#dodo {
    background-color: rosybrown;
    border-style: double;
    border-color: black;
    border-width: 5px;
    color: white;
}

#fafa {
    background-color: rosybrown;
    border-style: double;
    border-color: black;
    border-width: 5px;
    color: white;
}

#pop {
    background-color: rosybrown;
    border-style: double;
    border-color: black;
    border-width: 5px;
    color: white;
    font-size: 20px;
    font-family: monospace;
}


*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
    background: url(https://cdn.pixabay.com/photo/2020/06/02/12/19/dog-digital-paper-5250754_1280.jpg);
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius:
    
}
header .overlay{
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #ffffff 10%, #ff7ae26b 100%);
    
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3, p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 100px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background:white;
  background: linear-gradient(white);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px black;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(100px + 12px);
    min-height: calc(30px + 12px);
    border: 6px solid red;
    box-shadow: 0 0 60px red (0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid red;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.täytä {
  background-color: rosybrown;
  color: white;
  border-style: double;
  border-color: black;
  border-width: 5px;
  height: 200px;
  font-family: monospace;
}