body {
    background-color: lightcyan;
}

h1 {
    color: black;
    font-family: cursive;
    text-align: center;
}

a {
    color: black;
    
}

a:hover {
    color: lightpink;
}

.button {
    background-color: white;
    border-color: palevioletred;
}
.container {
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.container .row {
    position: relative;
    width: 275px;
    height: 275px;
    overflow: hidden;
    transition: 0,5s;
}

.float-center-child {
float: center;
}
 
.parent {
    text-align: center;
}