body {
    background-color: wheat;
    
}

header {
    background-color: white;
    color: black;
    border: blue;
    border-style: dotted;
}

li {
    list-style-type:none;
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color:black;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

a:hover {
    background-color: darkgreen;
}

nav {
    width:100vw;
    background-color: floralwhite;
}

ul{
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
}


body{
    margin:0;
}