body {
    background-color: wheat;
    
}

header {
    background-color:lightskyblue;
    color: black;
    text-align: center;
    border:darkcyan;
    border-style: dotted;
    font-family: cursive;
}

li {
    list-style-type:none;
    margin: 0 2vw;
    font-size: 3vh;
}

a {
    text-decoration: none;
    color:black;
    padding: 2vw;
    font-family: 'Courier New', Courier, monospace;
    display: block;
}

a:hover {
    background-color:rgb(247, 141, 194);
    text-align: center;
}

nav {
    width:100vw;
    background-color:rgb(255, 197, 193);
    border-style:solid;
    border-color: black;
    text-align: center;
}

ul{
    margin: 0;
    padding:0;
    display: flex;
   
}


body{
    margin:0;
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    text-align: center;
}

p1{
    text-align:center;
    color: lightslategray;
    font-style: italic;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p2{
    text-align: center;
    color: maroon;
    font-style: initial;
    font-family: fantasy;
}