header {
    color:black;
    background-color: darkseagreen;
    border: black;
    border-style: groove;
}
h1 {text-align: center;}
p {text-align: center;}

img{align-items: center;}

body {
    background-color: papayawhip;
}

p{
    background-color: white;
    border-style: rounded;
    padding: 20px;
    margin: 30px;
}

.header {
    position: relative;
    top: 0%;
    height: 20%;
    }
    /*Header CSS*/
    img#ttl {
    position: relative;
    top:50%;
    height: 50%;
    left: 0px;
    }
    img#se {
    position: relative;
    top:60%;
    height:30%;
    vertical-align:right;
    margin-right: 2%;
    }