header {
    color:black;
    background-color: darkseagreen;
    border: black;
    border-style: groove;
}
h1 {text-align: center;}
p {text-align: center;}

img{align-items: center;}

body {
    background-color: papayawhip;
}

p{
    background-color: white;
    border-style:dotted
    padding: 20px;
    margin: 30px;
}

