header {
    color:black;
    background-color: darkseagreen;
    border: black;
    border-style: groove;
}

body {
    background-color: papayawhip;
}

p{
    background-color: white;
    border-style: rounded;
}