body { 
    color:black;
    background-color:peachpuff; 
    }


    h1  {
        font-size: 20px;
         }
    

    P1 {
        font-size: 12px;
        color:olive;
    }

    div {
        color: black;
        background-color: rgb(255, 255, 255);
    }

    .reunus {
        border-style: dotted;
        border-width: 2px;
        height: 100px;
        width: 100px; ;
        border-color: turquoise;
    }

    button {
        border: dotted;
        color:black;
        background-color: white;
        font-size: 12px;
         black;
    }