body { 
    color:black;
    background-color:peachpuff; 
    }


    h1  {
        font-size: 20px;
         }
    

    p {
        font-size: 12px
    }

    li {
        list-style-type: circle;
    }

    div {
        color: black;
        background-color: rgb(255, 255, 255);
    }

    .reunus {
        border-style: dotted;
        border-width: 2px;
        border-color: turquoise;
    }